.fundname > span {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #022737;
  /* font-family: "HelveticaNeue"; */
  /* padding: 20px 0 0 0px; */
}

.fundname button {
  margin-left: 40px;
  background-color: #e7e7e7;
  color: black;
  padding: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  font-family: "HelveticaNeue";
}

.fundname > img {
  margin-left: 10px;
  height: 20px;
}

.fundname {
  display: flex;
}

.tickmark > img {
  margin-left: 10px;
}
