.BalanceCard{
    padding: 20px 30px;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BalanceCard p:first-child{
    color: #505050;
    font-size: 24px;
    line-height: 1.25;
  letter-spacing: 0.5px;
}

.BalanceCard p:first-child::after{
  margin-left: 10px;
  content: url(../../assets//images//info-icon.png);
}

.BalanceCard p:nth-child(2){
  
  font-size: 42px;
  font-weight: 300;
  color:  #a8b400;
  padding-bottom: 28px;

}
.BalanceCard p:nth-child(3){
  color: #006778;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.BalanceCard p:nth-child(3)::after{
  content: url(../../assets//images/arrow-teal-r.png);
  margin-left: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: visible;
  position: absolute;
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  background-color: rgba(0, 103, 120, 0.9);
  color: white;
  width: 336.8px;
  height: 106px;
  box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0 0 33px;
  font-size: 14px;
} 

