.MainTop{
    display: flex;
    justify-content: space-between;
    /* margin: 0 100px; */
}

.MainTop > div:first-child{
    
    display: flex;
    flex: 1.3;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;
    
}
.MainTop > div:first-child >div:first-child{
 margin-bottom: 20px;
}
.MainTop > div:last-child{
    /* height: 350px; */
    background: white;
    flex:2.7;
}

@media (max-width:1024px) {
    .MainTop{
        flex-direction: column;
        width:90%;
    }
    .MainTop > div:first-child{
        flex: 1;
         margin: 0px 0 20px 0;
    }
    .MainTop > div:last-child{
        flex: 1;
        width: 100%;
    }
}