.MainMiddle{
    display: flex;
}

.MainMiddle button::after{
    margin-left: 10px;
    align-self: center;
    content: url(../../../../assets/images/arrow-white-r.png);
}
/* .MainMiddle button:last-child::after{
    margin-left: 10px;
    align-self: center;
    content: url(../../../../assets/images/arrow-teal-r.png);
} */


.MainMiddle >button:not(:last-child){
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .MainMiddle{
        margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
 .MainMiddle button{
     width: 90%;
     margin:0 0 20px 0 !important;
     height:50px !important;
     display: block !important;
 }
}